# Gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ Platform Gradle Plugin
.intellijPlatform/

# IntelliJ IDEA workspace
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# MacOS
.DS_Store

# Temporary / Scratch Files
scratch.kt
*.log

# Local Environments & Configurations
.sdkmanrc
.env
.env.local
.env.*.local
